<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget" value="https://www.myget.org/F/sceneskope-ci/api/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://www.myget.org/F/sceneskope-ci/api/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/YqkwsNrpEy3py6PVCDLJgAAAAACAAAAAAAQZgAAAAEAACAAAADzYttUpCpJCleyPchHkfnvOgv3LTX8tQtFB1/56yJ9qwAAAAAOgAAAAAIAACAAAAB6gd+Q1c2hHLEJF/UnfWnLK7uOwxuoNJI2ZxlLY3bU2TAAAABCpUODaS83j4ePIMhuj+k4dQYg/o5nQhUubnXRdpqkODyzhmFJgUxFrGrwLIUU01xAAAAAU9E+MCSFyQclLIwU2m1cBJ/1/NuKbwuM/yyZm7ttuj1gHaO6xR8YCbu5mZqavHJIQHnitDo+xShcLiTSoF9LaQ==" />
  </apikeys>
</configuration>